.form-field{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0px 0px 10px
}

.form-button{
    width: 100px;
    text-transform: uppercase;
}

mat-form-field{
    width: 80%;
}