<mat-drawer-container class="container" autosize [style.height]="getHeight()" [style.width]="getWidth()">
    <mat-drawer #drawer class="sidenav" mode="over">
        <mat-toolbar color="primary">
            <button (click)="drawer.toggle()" mat-icon-button 
                aria-label="Display drawer with sidenav menu">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Fridge App</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item>
                <a matListItemTitle routerLink="homepage" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="nav-item" (click)="drawer.close()">Lista Produktów</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a matListItemTitle routerLink="addform" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="nav-item" (click)="drawer.close()">Dodaj Produkt</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a matListItemTitle routerLink="shoppinglist" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="nav-item" (click)="drawer.close()">Lista Zakupów</a>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-drawer>

    <mat-toolbar color="primary">
        <button (click)="drawer.toggle()" mat-icon-button 
            aria-label="Display drawer with sidenav menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Fridge App</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
</mat-drawer-container>
